<h1>Part-6-UseEffect</h1>


<!-- //useEffect -->
<!-- 
<h1>{{userName()}}</h1>

<button (click)="userName.set('Dev')">update UserName</button>
<button (click)="toggleValue()">Display Heading</button>


<h1>{{count()}}</h1>
@if (displayHeading==true) {
  <h1 style="background-color: green;">Page Heading</h1>
} -->


<!-- Conetxtual Variable ForLoops -->

<!-- @for(user of users;track user;let i=$index;let f=$first;let l=$last){ -->

<!-- @if (f || l) {
  <h3 style="background: red">this is Our {{i+1}} user name is {{user}}</h3>
}@else{
  <h3>this is Our {{i+1}} user name is {{user}}</h3>

} -->
<!-- 
@if ($odd) {
  <h3 style="background-color: aqua;">this is index {{i+1}} user name is {{user}}</h3>  
}@else if($even){
  <h3 style="background-color: deeppink;">this is index {{i+1}} user name is {{user}}</h3>  

}


}

@empty(){
  <h1>no REcord Found</h1>
  } -->
<!-- <h1>{{$count}}</h1> -->

<!-- //Two Way Bindinig -->



<!-- <input [(ngModel)]="name" type="text" placeholder="Enter Name" name="" id="">

<h1>{{name}}</h1> -->

<!-- <input type="text" (input)="changeName($event)" placeholder="enter name" name="" id="">


<h1>{{name}}</h1> -->
<!-- 
<h1>TO-DO List</h1>

<input type="text" [(ngModel)]="task" placeholder="Enter New Task" name="" id="">
<button (click)="addtask()">Add Task</button>


@for(task of taskList;track task.id){

<ul>
  <li>{{task.id}}</li>
  <li>{{task.task}}</li>
  <li><button (click)="deletetask(task.id)">Delete</button></li>

</ul>

} -->


<!-- //Dynamic Styling -->

<!-- <h1 [style.backgroundColor]="color">Dynamic Styling</h1>

<h1 [style.fontSize.px]="fontSize">Dynamic Styling</h1>

<h1 [style.fontSize]="zoom?headingSizeBig:headingSizeSmall">Heading</h1>

<button (click)="updateHeadingSize()">Change Font Size</button> -->


<!-- //Directives -->


<!-- <h1 *ngIf="show">heading</h1> -->

<!-- <ul>
  <li *ngFor="let x of students">
    {{x}}
  </li>
</ul>

<ul>
  <li *ngFor="let x of studetsData">
    {{x.name}}--{{x.age}}--{{x.email}}
  </li>
</ul> -->


<!-- <div *ngIf="logining ; else abc">
  <a href="/">Login</a>

</div>

<ng-template #abc>
  <a href="">LogOut</a>

</ng-template>

<br> -->


<!-- <h1 *ngIf="show">Heading</h1> -->

<!-- <div *ngIf="block==0">
  <h1>Heading 0</h1>
</div>
<div *ngIf="block==1">
  <h1>Heading 1</h1>
</div>
<div *ngIf="block==2">
  <h1>Heading 2</h1>
</div>

<button (click)="updateBlock()">Change Heading Block</button> -->


<div [ngSwitch]="color">

  <button (click)="changeColor('red')">Red</button>
  <button (click)="changeColor('green')">Green</button>
  <button (click)="changeColor('blue')">Blue</button>
  <button (click)="changeColor('yellow')">Yellow</button>



  <h1 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h1>
<h1 *ngSwitchCase="'green'" style="background-color: green;">Green Color</h1>
<h1 *ngSwitchCase="'blue'" style="background-color: blue;">Blue Color</h1>
<h1 *ngSwitchCase="'yellow'" style="background-color: yellow;">Yellow Color</h1>
<h1 *ngSwitchDefault>No Color Color</h1>



</div>
